div {
  width: 500px;
  height: 500px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  background: red;
  border-radius: 20px;
  font-size: 20px;
  color: white;
  font-weight: 100;
}