a1{
    margin: 50px;
    padding: 30px;
    border: 5px solid rgb(255, 0, 0);
    width: 200px;
    height: 250px;
}
a2{
    margin: 30px;
    padding: 50px;
    border: 7px solid rgb(32, 2, 85);
    width: 200px;
    height: 250px;
}
a3{
    margin: 20px;
    padding: 20px;
    border: 8px solid rgb(0, 128, 0);
    width: 200px;
    height: 200px;
}