div{
    width: 250px;
    height: 150px;
    border-top: 5px solid rgb(255, 0, 0);
    border-right: 5px solid rgb(0, 255, 0);
    border-bottom: 5px solid rgb(0, 0, 255);
    border-left: 5px solid rgb(77, 77, 0);
}