@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Inter", sans-serif;
}

header {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 11px 0px;
}

.logo {
  display: flex;
  align-items: center;
  gap: 5px;
}

.logo h1 {
  font-size: 25px;
}

.logo {
  width: 24px;
}

.navigation {
  display: flex;
  gap: 25px;
  align-items: center;
}

.navigation nav {
  display: flex;
  gap: 20px;
}

.navigation nav a {
  color: black;
  text-decoration: none;
}

.navigation nav a:hover {
  text-decoration: underline black solid;
}

.navigation nav a:first-child {
  padding-right: 30px;
}

button {
  padding: 10px 22px;
  background: #4caf4f;
  display: flex;
  align-items: center;
  border: none;
  border-radius: 3px;
  color: white;
  transition: 0.2s all;
  cursor: pointer;
}

button:hover {
  background: #307632;
}

.navigation button img {
  width: 20px;
}

.dropbtn {
  width: 20px;
  color: white;
  cursor: pointer;
  display: none;
}

.dropdown {
  position: relative;
  display: none;
}

.dropdown-content {
  display: none;
  position: absolute;
  right: 0;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content a {
  color: #4d4d4d;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.soc {
  display: flex;
  width: 160px;
}

.dropdown-content a:hover {
  background-color: #f1f1f1;
}
.dropdown:hover .dropdown-content {
  display: block;
}

main {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.section-1 {
  position: relative;
  width: 100%;
  background-color: #f5f7fa;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 66px 0px;
}

.main {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  flex-wrap: wrap;
}

.section-1 h1 {
  color: #4d4d4d;
  max-width: 457px;
  font-size: 44.55px;
  font-weight: 600;
}

.section-1 h1 span {
  color: #4caf4f;
}

.section-1 p {
  color: #717171;
}

.section-1 .content {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 20px;
}

.section-1 .bolls {
  position: absolute;
  bottom: 10px;
  display: flex;
  width: 32px;
  justify-content: space-between;
}

.section-1 .bolls div {
  width: 7px;
  height: 7px;
  background-color: #4caf4f;
  border-radius: 50%;
}

.section-2 {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 50px;
  padding: 50px;
  text-align: center;
}

.section-2 .text {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.section-2 .text h2 {
  font-size: 25px;
  color: #4d4d4d;
  font-weight: 600;
}

.section-2 .text p {
  color: #717171;
}

.section-2 .imgs{
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 135px;
  flex-wrap: wrap;
}

@media (max-width: 900px) {
  header {
    justify-content: space-between;
    padding: 11px 20px;
  }

  .navigation {
    display: none;
  }
  .dropbtn,
  .dropdown {
    display: inline-block;
  }

  .section-1 .main {
    padding: 20px;
    gap: 50px;
  }

  .section-2 .imgs{
    gap: 100px;
  }
}

